* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f7fb;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.content {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

/* .hotspot {
    background: rgba(255, 0, 0, 0.25);
    border: 2px solid red;
} */

/* VIEWER */
.viewer {
    position: relative;
    width: 500px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.viewer img {
    width: 100%;
}

/* HOTSPOTS */
.hotspot {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.hotspot:hover {
    outline: 3px solid #2ecc71;
    background: rgba(46, 204, 113, 0.2);
}

/* Approximate positioning */

.nostril{
    top: 22.5%;
    left: 59%;
    width: 8%;
    height: 5%;
}

.nasalCavity{
    top: 22.5%;
    left: 52%;
    width: 8%;
    height: 5%;
}

.pharynx {
    top: 35%;
    left: 46%;
    width: 8%;
    height: 5%;
}

.larynx {
    top: 40%;
    left: 46%;
    width: 8%;
    height: 5%;
}

.trachea {
    top: 45%;
    left: 46%;
    width: 8%;
    height: 12%;
}

/* .lungs {
    top: 30%;
    left: 26%;
    width: 240px;
    height: 230px;
} */

.bronchi {
    top: 52%;
    left: 50%;
    width: 10%;
    height: 15%;
}

.diaphragm {
    top: 76%;
    left: 29%;
    width: 40%;
    height: 50px;
}

.alveoli {
    top: 50%;
    left: 33%;
    width: 5%;
    height: 30%;
}




/* INFO PANEL */
.info-panel {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.info-panel img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin: 15px 0;
}

.info-panel h2 {
    margin-top: 0;
}

.info-panel p {
    color: #444;
    line-height: 1.6;
}
